---
import Layout from "../layouts/Layout.astro";
import { ui } from "../i18n/ui.js";

console.log(Astro.locals);

const locale = (Astro.locals.lang as "en" | "fr") ?? "en";
// const locale = await getLocale(Astro) as 'en' | 'fr' ?? 'en';
console.log("Locale in index:", locale);
---

<Layout title={ui[locale].index.title}>
  <div class="hero min-h-[100vh] bg-base-200 px-4">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-3xl sm:text-4xl md:text-5xl font-bold mb-4 sm:mb-8">
          {ui[locale].index.title}
        </h1>
        <p class="py-3 sm:py-6 text-base sm:text-lg">
          {ui[locale].index.description}
        </p>
        <a href="/generate" class="btn btn-primary btn-md sm:btn-lg"
          >{ui[locale].index.button}</a
        >
      </div>
    </div>
  </div>
</Layout>
