---

---

<div class="p-2 w-full py-8 px-32 font-bold shadow-md mb-4">
    <ul class="flex gap-4">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/generate">Generator</a>
        </li>
        <li>
            <a href="/gallery">Gallery</a>
        </li>
        <li>
            <a href="/login">Login</a>
        </li>
        <li>
            <form method="POST" action="/api/logout" class="m-0 p-0 ml-4">
                <button type="submit" class="btn btn-primary">Logout</button>
            </form>
        </li>
    </ul>
</div>
