---
import "../styles/global.css";
import Menu from "../Components/Menu.astro";
import { ui } from "../i18n/ui.js";
const locale = (Astro.locals.lang as "en" | "fr") ?? "en";
---

<html lang="en" data-theme="light" class="h-full">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{Astro.props.title || "SVG Generator"}</title>
	</head>
	<body class="min-h-screen flex flex-col">
		<div class="flex-grow flex flex-col">
			<slot />
		</div>
		<footer class="footer footer-center p-4 bg-base-300 text-base-content">
			<div>
				<p>Copyright © 2025 - SVG Generator</p>
			</div>
		</footer>
	</body>
</html>
